<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
    <!--Bootstrap Javascript-->
    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!--bx slider js-->
    <script src="js/jquery.bxslider.min.js"></script>

    <!--ad js counter lib-->
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>

    <!--wow js-->
    <script src="js/wow.min.js"></script>

    <!--custom js-->
    <script src="js/custom.js"></script>

  </body>

</html>
